doctype
html
  head
    meta(charset='utf-8')
    title= name
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700")
    link(rel="stylesheet", href="assets/css/main.css")

  body
    != partial("_partials/header")
    main.main(role="main")
      .container
        != yield
    != partial("_partials/footer")